DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend

POSTGRES_DB=warehouse_wms
POSTGRES_USER=warehouse_wms
POSTGRES_PASSWORD=warehouse_wms
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0
